<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-10">
            {{ project.ProjectId }}
            <h6>{{ project.ProjectName }}</h6>
          </div>
          <div class="col-2"><ng-content></ng-content></div>
        </div>
      </div>
      <div class="card-body">
        <div>
          <table class="table table-borderless" [hidden]="hideDetails">
            <tr>
              <th>Date Of Start</th>
              <td>{{ project.DateOfStart }}</td>
            </tr>
            <tr>
              <th>Team Size</th>
              <td>{{ project.TeamSize }}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{ project.Status }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success mr-2" (click)="onEditClick()">
          Edit
        </button>
        <button class="btn btn-danger mr-2" (click)="onDeleteClick()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
