<h3 class="text-success">
  Projects
  <i
    class="fa fa-circle-o-notch fa-spin"
    style="font-size: 34px;"
    *ngIf="showLoading"
  ></i>
</h3>
<div class="row mx-auto">
  <div class="col-1">
    <button
      class="btn btn-primary mb-2"
      data-toggle="modal"
      data-target="#newModal"
    >
      Create Project
    </button>
  </div>
  <div class="col-1">
    <button class="btn btn-primary mb-2" (click)="toogleDetailsClick()">
      Hide/Show Details
    </button>
  </div>
  <div class="col-2"><h4 class="text-success">Search Project</h4></div>
  <div class="col-3">
    <select class="form-control">
      <option>Search By--</option>
      <option>ProjectId</option>
      <option>ProjectName</option>
      <option>TeamSize</option>
    </select>
  </div>
  <div class="col-3">
    <select class="form-control">
      <option>1</option>
    </select>
  </div>
  <div class="col-2"><button class="btn btn-success">Search</button></div>
</div>

<div class="row">
  <div class="col-8 mx-auto">
    <div class="col-xl-12 mx-auto">
      <div class="row">
        <div
          class="col-md-6 col-xl-4"
          *ngFor="let project of projects; let i = index"
        >
          <app-project
            [currentProject]="project"
            [recordIndex]="i"
            #prj
            (editProject)="onEditClick($event, i)"
          >
            <app-checkbox-printer></app-checkbox-printer>
          </app-project>
        </div>
      </div>
    </div>
  </div>
</div>

<form>
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <div class="modal-title">New Project</div>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtNewProjectID" class="col-sm-4 col-form-label"
              >Project ID</label
            >
            <div class="col-sm-8">
              <input
                appProjectIDUniqueValidator
                type="text"
                id="txtNewProjectID"
                style="width: 100px;"
                class="form-control"
                placeholder="Project ID"
                #projectId="ngModel"
                name="ProjectID"
                [(ngModel)]="newProject.ProjectId"
                [ngClass]="{
                  'is-invalid':
                    projectId.invalid && (projectId.dirty || projectId.touched),
                  'is-valid':
                    projectId.valid && (projectId.dirty || projectId.touched)
                }"
              />
              <span
                class="text-danger"
                *ngIf="
                  (projectId.dirty || projectId.touched) &&
                  projectId.errors?.uniqueProjectId
                "
                >Project Should Contain Unique Id</span
              >
            </div>
          </div>
          <div class="form-group row">
            <label for="txtNewProjectName" class="col-sm-4 col-form-label"
              >Project Name</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtNewProjectName"
                style="width: 250px;"
                class="form-control"
                placeholder="Project Name"
                name="ProjectName"
                [(ngModel)]="newProject.ProjectName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="txtNewDateOfStart" class="col-sm-4 col-form-label"
              >Date Of Start</label
            >
            <div class="col-sm-8">
              <input
                type="date"
                id="txtNewDateOfStart"
                style="width: 200px;"
                class="form-control"
                placeholder="DateOfStart"
                name="DateOfStart"
                [(ngModel)]="newProject.DateOfStart"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="txtNewTeamSize" class="col-sm-4 col-form-label"
              >TeamSize</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtNewTeamSize"
                style="width: 100px;"
                class="form-control"
                placeholder="TeamSize"
                name="TeamSize"
                [(ngModel)]="newProject.TeamSize"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="txtNewTeamSize" class="col-sm-4 col-form-label"
              >Active</label
            >
            <div class="col-sm-6">
              <input
                type="checkbox"
                id="chkNewActive"
                value="true"
                class="form-check-input ml-1"
                name="Active"
                [(ngModel)]="newProject.Active"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="rbNewStatusInForce" class="col-sm-4">Status</label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  id="rbNewStatusInForce"
                  value="In Force"
                  class="form-check-input"
                  name="status"
                  [(ngModel)]="newProject.Status"
                />
                <label for="rbNewStatusInForce" class="form-check-label"
                  >In Force</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  id="rbNewStatusSupport"
                  value="Support"
                  class="form-check-input"
                  name="status"
                  [(ngModel)]="newProject.Status"
                />
                <label for="rbNewStatusSupport" class="form-check-label"
                  >Support</label
                >
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="drpNewClientLoaction" class="col-sm-4 col-form-label"
              >Client Location</label
            >
            <div class="col-sm-8">
              <select
                id="drpNewClientLocation"
                class="form-control"
                name="ClientLoacation"
                [(ngModel)]="newProject.ClientLocationName"
              >
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="onSaveClick()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<form>
  <div class="modal" role="dialog" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Edit Project</div>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtNewProjectID" class="col-sm-2 col-form-label"
              >Project ID</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                id="txteditProjectID"
                style="width: 100px;"
                class="form-control-plaintext"
                placeholder="Project ID"
                name="ProjectID"
                disabled
                [(ngModel)]="editProject.ProjectId"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="txteditProjectName" class="col-sm-2 col-form-label"
              >Project Name</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                id="txtNewProjectName"
                style="width: 250px;"
                class="form-control"
                placeholder="Project Name"
                name="ProjectName"
                [(ngModel)]="editProject.ProjectName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="txtNewDateOfStart" class="col-sm-2 col-form-label"
              >Date Of Start</label
            >
            <div class="col-sm-10">
              <input
                type="date"
                id="txteditDateOfStart"
                style="width: 200px;"
                class="form-control"
                placeholder="DateOfStart"
                name="DateOfStart"
                [(ngModel)]="editProject.DateOfStart"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="txteditTeamSize" class="col-sm-2 col-form-label"
              >TeamSize</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                id="txtNewTeamSize"
                style="width: 100px;"
                class="form-control"
                placeholder="TeamSize"
                name="TeamSize"
                [(ngModel)]="editProject.TeamSize"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="txtNewTeamSize" class="col-sm-2 col-form-label"
              >TeamSize</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                id="txteditTeamSize"
                style="width: 100px;"
                class="form-control"
                placeholder="TeamSize"
                name="TeamSize"
                [(ngModel)]="editProject.TeamSize"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="txtNewTeamSize" class="col-sm-2 col-form-label"
              >Active</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                id="chkeditActive"
                value="true"
                class="form-check-input"
                name="Active"
                [(ngModel)]="editProject.Active"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="rbNewStatusInForce" class="col-sm-4">Status</label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  id="rbeditStatusInForce"
                  value="In Force"
                  class="form-check-input"
                  name="status"
                  [(ngModel)]="editProject.Status"
                />
                <label for="rbNewStatusInForce" class="form-check-label"
                  >In Force</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  id="rbeditStatusSupport"
                  value="Support"
                  class="form-check-input"
                  name="status"
                  [(ngModel)]="editProject.Status"
                />
                <label for="rbNewStatusSupport" class="form-check-label"
                  >Support</label
                >
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="drpeditClientLoaction" class="col-sm-4 col-form-label"
              >Client Location</label
            >
            <div class="col-sm-8">
              <select
                id="drpeditClientLocation"
                class="form-control"
                name="ClientLoacation"
                [(ngModel)]="editProject.ClientLocationName"
              >
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="onUpdateClick()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
