<div class="mt-5">
  <form>
    <div class=" row">
      <div class="col-md-9 col-lg-6 col-xl-5 mx-auto">
        <div class="card">
          <div class="card-header bg-primary">Login</div>
          <div class="card-body">
            <div class="form-group">
              <label for="uname">UserName</label>
              <input
                type="text"
                class="form-control"
                placeholder="UserName"
                name="Uname"
                [(ngModel)]="loginViewModal.Uname"
              />
              <label for="upwd">Password</label>
              <input
                type="text"
                class="form-control"
                placeholder="Password"
                name="Upwd"
                [(ngModel)]="loginViewModal.Upwd"
              />
            </div>

            <h6 class="text-danger text-center" *ngIf="loginError !== null">
              {{ loginError }}
            </h6>
          </div>
          <div class="card-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="onLoginClick()"
            >
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
